.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card {
  background-color: #313131;
  border-radius: 4px;
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;

  h4 {
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}