.about-project {

  
}

#title{
  height:40px;
  width: 250px;
}
#description {
  height: 110px;
  width: 250px;
}
.tools-form {
  width: 100%;
  display: flex;
  

}
#tools {
  height:40px;
  width: 250px;
}