.landing-page {
    font-family: 'nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .img-placeholder {
      background-color: #d6d6d6;
      height: 82px;
      margin-top: 20px;
      width: 82px;
    }

    h1 {
        font-family: 'inter';
        font-size: 34px;
        font-weight: 700;
        margin-top: 14px;
      }
      
      .subtitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 33px;
        margin: 30px 0;
    }

    .text {
      color: #999999;
      font-family: 'nunito', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      margin: 10px 0
    }

    .sso-wrapper {
      display: flex;
      justify-content: space-evenly;
      max-width: 330px;
      width: 330px;
    
      .sso-item {
        background-color: #d6d6d6;
        border-radius: 5px;
        height: 40px;
        width: 70px;
      }
    }

    .trial-link {
      color: #999999;
      margin-top: 10px;
    }
}