//variables
$primary: #000;
$secondary: #fff;

.btn{
  border-radius: 3px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
}


.btn-primary{
  background-color: $primary;
  color: $secondary;
}

.btn-secondary{
  background-color: $secondary;
  color: $primary;
}

//.btn-variart