@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.double-button {
    display: flex;
    justify-content: center;
    margin: 10px;
    button {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        border-style: none;
        background-color: black;
        color: white;
        text-decoration: none;
        height: 30px;
        width: 150px;
        padding: 5px;
        cursor: pointer;
    }
    .left {
        border-radius: 4px 0 0 4px;
    }
    .right {
        border-radius: 0 4px 4px 0;
    }
    .separator {
        font-family: 'Roboto', sans-serif;
        background-color: black;
        color: white;
        font-size: 25px;
        font-weight: 100;
        align-self: center;
        height: 30px;
    }
} 