.single-button {
  align-items: center;
  border: none;
  border-radius: 10px;
  display: flex;
  font-size: 16px;
  font-weight: 'Nunito';
  height: 50px;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  width: 102px;
}
    
.default {
  background-color: #1b1b1b;
  color: #fff;
}

.disabled {
  background-color: #ebebe4;
  color: #5c5c5c
}

.light {
  background-color: rgba(0,0,0,0);
  border: 1px solid #000;
  color: #000;
}

.long {
  width: 250px;
}