.cpForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0;
  button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    height: 2.5em;
    margin: 5% 0;
    margin-top: 3.5rem;
    padding: 0 8px;
  }
}

.input-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 2% 0 2%;
  padding: 0 1em;
  width: 95%;
  #about {
    height: 5rem;
  }
  input {
    height: 2.5em;
    width: 95%;
  }
  select {
    height: 2.5em;
    width: 95%;
  }
}

label {
  display: flex;
  font-size: 0.9rem;
  justify-content: start;
  width: 95%;
}

.textarea-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}
