a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-user {
  display: flex;
  flex-direction: column;
}

.add-portfolio-project {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}
