.portfolio-project {
  border: 2px solid black;
  display: flex;
  // justify-content: space-around;
  margin: 1rem auto;
  width: 80%;

  img {
    flex-basis: 30%;
    height: 100px;
    margin: 10px 4px;
    width: 100px;
  }

  .portfolio-content {
    margin: auto;
  }
}
