.header {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1% 15%;
  .header-text {
    padding: 2% 5%;
  }
  .header-title {
    margin: 2% 0;
    text-decoration: underline;
  }
}