.account-forms {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.title {
  font-size: 16;
  font-weight: 700;
  margin: 20;
}

// buttonText: {
//   color: 'white';
//   fontWeight: '500';
// }

// input: {
//   borderStyle: 'solid';
//   borderRadius: 5;
//   borderWidth: 1;
//   color: 'black';
//   height: 30;
//   marginVertical: 10;
//   padding: 5;
// }

// inputContainer: {
//   marginHorizontal: 25;
//   width: 290;
// }

// singleButton: {
//   alignItems: 'center';
//   backgroundColor: 'black';
//   borderRadius: 5;
//   height: 40;
//   justifyContent: 'center';
//   margin: 20;
//   width: 120;
// }
