/*  
    accountForms: {
      alignItems: 'center',
      flex: 1,
      justifyContent: 'center',
    }

    buttonText: {
      color: 'white',
      fontWeight: '500',
    }

    input: {
      borderStyle: 'solid',
      borderRadius: 5,
      borderWidth: 1,
      color: 'black',
      height: 30,
      marginVertical: 10,
      padding: 5,
    }

    inputContainer: {
      marginHorizontal: 25,
      width: 290,
    }

    singleButton: {
      alignItems: 'center',
      backgroundColor: 'black',
      borderRadius: 5,
      height: 40,
      justifyContent: 'center',
      margin: 20,
      width: 120,
    }

    title: {
      fontSize: 16,
      fontWeight: '700',
      margin: 20,
    }
   */
