.edit-project {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'nunito', sans-serif;
  justify-content: space-between;

    h3 {
        font-family: 'nunito', sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-top: 14px;
      }


}