.sign-up-screen {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  justify-content: center;
  padding-top: 80px;

  .header {
    align-self: center;
    font-weight: 700;
    font-size: 24px;
    margin-top: -4rem;
    text-align: center;
    width: max-content;
  }

  .input-wrapper {
    margin-top: 7px;
    width: 100%;
  }

  form {
    a {
      align-self: center;
      color: black;
      font-size: 12px;
      font-style: italic;
    }

    h6 {
      align-self: center;
    }

    input {
      border: solid black 1px;
      box-shadow: 0.3px 1px darkgrey;
      height: 28px;
      padding-left: 7px;
      width: 100%;
    }

    label {
      font-size: 14px;
      font-weight: 400;
    }

    .SingleActionButton {
      background-color: red;
    }
  }
}

.form-error {
  margin-top: 5px;
}