.submit-btn {
  background-color: white;
  color: #000000;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 33px;
  text-transform: uppercase;
  top: -45px;
  width: 2px;
}

.submit-btn:active {
  color: #333;
}

div > label + div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container {
  display: flex;
}

#role {
  align-self: center;
  margin-right: 8px;
}

.role-wrapper {
  gap: 12px;

  input[type='checkbox'] {
    appearance: none;
    border: 4px solid white;
    box-shadow: 0 0 0 1px black;
    margin: 0px 8px 0px 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  input[type='checkbox']:checked::before {
    color: #000000;
    content: '✓';
    display: inline-block;
    font-size: 18px;
    position: absolute;
    right: -8.8px;
    text-align: center;
    top: -13px;
  }

  .role-inputs {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 3px;
  }

  label {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}

form > div + div.container {
  display: flex;
  flex-direction: column;
}

label#about,
label#fun_fact {
  font-weight: 400;
  margin-top: 25px;
}

textarea {
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: 'Nunito';
  height: 133px;
  position: relative;
  resize: none;
  width: 100%;
}

.charCount {
  font-size: 10.5px;
  font-weight: 300;
  margin-top: 119px;
  position: absolute;
  right: 3px;
}
