.form {
  // align-items: center;
  // display: flex;
  // flex-direction: column;
  // margin: 5% 0;
}

div > label + div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  gap: 8px;
}

#role {
  align-self: center;
}

.role-wrapper {
  gap: 10px;

  input[type='checkbox'] {
    appearance: none;
    box-shadow: 0 0 0 1px black;
    border: 4px solid white;
    margin: 0px 8px 0px 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  input[type='checkbox']:checked::before {
    color: #000000;
    content: '✓';
    display: inline-block;
    font-size: 18px;
    position: absolute;
    right: -8.8px;
    text-align: center;
    top: -13px;
  }

  .role-inputs {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 3px;
  }

  label {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
}

form > div + div.container {
  display: flex;
  flex-direction: column;
}

label#about,
#fun_fact,
#portfolio_link {
  margin-top: 25px;
  text-align: start !important;
}

input#about,
input#fun_fact {
  height: 151px;
  width: 250px;
}
